* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0E1116;
}

.header {
    display: inline-block;
    background-color: #0E1116;
    width: 100%;
    font-size: 25px;
    padding: 20px 20px;
    color: #ffffff;
    position: fixed;
}

.name {
    float: left;
}

.links {
    float: right;
}

ul {
    list-style: none;
}

li {
    margin: 14px;
    display: inline;
}

li a {
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px;
}

.main {
    min-height: 800px;
    background: #555;
    text-align: center;
    background-image: url('image/main-image.jpg');
    background-size: cover;
}

a:hover {
    background-color: #87919E;
}

.main h2 {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 100px;
    padding-top: 300px;
}
.projects-container{
    background-color: #0E1116;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    padding-bottom: 25px;
}

#project-box {
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 4px;
}

.about-me {
    color: #fff;
    border: 1px solid #fff;
    margin: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 150px;
    padding-left: 150px;
    line-height: 1.5;
}

.about-me h2 {
    font-size: 24px;
}

.about-me p {
    font-size: 16px;
}